ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

button {
    border: none;
    background-color: white;
    color: #999;
    cursor: pointer;
}

button:hover {
    color: black;
}